<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper-container
    pagination="true"
    slides-per-view="1"
  >

    <swiper-slide *ngFor="let genre of genres; let i = index">

      <div class="slide-container ion-text-center" [ngClass]="colorActual">

        <img *ngIf="genre.image" [src]="genre.image" />

        <h2>{{ genre.title }}</h2>
        <p>{{ genre.description }}</p>

        <ion-button
          *ngIf="i === genres.length - 1"
          shape="round"
          expand="block"
          (click)="goBack()"
        > Ir al Home
        </ion-button>

      </div>

    </swiper-slide>

  </swiper-container>

</ion-content>