// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root{
    --color-claro: #e70606 ;
    --color-oscuro: #949589 ;
    --espaciado-base: 1rem;
    --espacio-grande: 2rem;

}
