// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root{
    --color-claro: #FF0000 ;
    --color-oscuro: #c2c42b ;
    --espaciado-base: 1rem;
    --espacio-grande: 2rem;

}
