<ion-header>
  <ion-toolbar>
    <ion-title>🎧 MusicApp</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Hero / bienvenida -->
  <div class="hero">
    <p>Tu música, a tu ritmo 🎧</p>
  </div>

  <!-- Sección playlists -->
  <h2 class="section-title">Hecho para ti</h2>

  <swiper-container
    slides-per-view="3"
    space-between="2"
    [loop]="true"
  >
    <swiper-slide  *ngFor="let album of albums">
      <div (click)="loadSongsByAlbum(album.id)" class="spotify-card">
        <img [src]="album.image"/>
        <p> {{ album.name }} </p>
      </div>
    </swiper-slide>
  </swiper-container>

</ion-content>

<ion-footer>
  <ion-grid>

    <ion-row>
      <ion-col class="ion-text-start">
        <ion-text color="primary">
          <p class="ion-no-margin ion-margin-start">{{formatDuration(transcurridoMs) || "0:00"}}</p>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-text color="primary">
          <p class="ion-no-margin ion-margin-end">{{getRemainngTime() || "0:00"}}</p>
        </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-progress-bar class="ion-no-margin ion-no-padding" [value]="valorProgreso"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="ion-no-margin">{{ mucicaSelecionada.name || "Escucha una canción"}}</p>
      </ion-col>
      <ion-col class="ion-text-start">
        <ion-icon *ngIf="!favorites" style="font-size: 1.5em; color: rgb(176, 177, 166);" (click)="postFavorite(mucicaSelecionada.id)" name="heart"></ion-icon>
        <ion-icon *ngIf="favorites" style="font-size: 1.5em; color: rgb(209, 11, 11);" (click)="deleteFavorite(mucicaSelecionada.id)" name="heart"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-icon *ngIf="!mucicaSelecionada.playing" name="play" (click)="play()"></ion-icon>
        <ion-icon *ngIf="mucicaSelecionada.playing" name="pause-outline" (click)="pause()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
