<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>holassss</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
  >
    <swiper-slide *ngFor="let genre of genres">
      <div class="slide-content">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.Image" [alt]="genre.title">
        <p>{{ genre.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <div [style.background-color]="coloractual">
    Hola mundo

  </div>
  <ion-button {(click)="cambiarcolor()"}>
    cambia tema

  </ion-button>
  <ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
</ion-content>

