.slide-content {
  text-align: center;
  padding: 10px;

}

.slide-content img {
  width: 300px;
  height: auto;
  border-radius: 60px;
  margin: 10% 0;
}

.slide-content h2{
  margin: 0;
  font-size: 50px;
  color: #ff0d00;
}

.slide-content P{
  color: #fafafa;
  font-size: 20px;
}


.button{
  background-color: var(--color-acento);
  padding: var(--espaciado-base);
}


.card{

  padding: var(--espaciado-base);
  background-color: var(--color-claro);
}

ion-card{
  background: rgb(234, 3, 3);



}