<ion-header>
  <ion-toolbar>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Cabecera visual -->
  <div class="register-header ion-text-center">
    <ion-icon name="person-add-outline"></ion-icon>
    <p>Completa los datos para registrarte</p>
  </div>

  <!-- Formulario -->
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onRegister()"
    class="register-form"
  >

    <!-- NOMBRE -->
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input 
        color="primary"
        label="Nombre"
        labelPlacement="stacked"
        placeholder="Tu nombre"
        formControlName="nombre">
      </ion-input>
    </ion-item>

    <div class="error-message" *ngIf="hasError('nombre')">
      {{ getErrorMessage('nombre') }}
    </div>

    <!-- APELLIDO -->
    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-input
        label="Apellido"
        labelPlacement="stacked"
        placeholder="Tu apellido"
        formControlName="apellido">
      </ion-input>
    </ion-item>

    <div class="error-message" *ngIf="hasError('apellido')">
      {{ getErrorMessage('apellido') }}
    </div>

    <!-- EMAIL -->
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
        label="Email"
        labelPlacement="stacked"
        placeholder="correo@ejemplo.com"
        formControlName="email">
      </ion-input>
    </ion-item>

    <div class="error-message" *ngIf="hasError('email')">
      {{ getErrorMessage('email') }}
    </div>

    <!-- PASSWORD -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        label="Contraseña"
        labelPlacement="stacked"
        placeholder="Mínimo 6 caracteres"
        formControlName="password">
      </ion-input>

      <ion-button
        fill="clear"
        slot="end"
        type="button"
        (click)="togglePasswordVisibility()"
      >
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'">
        </ion-icon>
      </ion-button>
    </ion-item>

    <div class="error-message" *ngIf="hasError('password')">
      {{ getErrorMessage('password') }}
    </div>

    <!-- BOTÓN REGISTRO -->
    <ion-button
      expand="full"
      shape="round"
      color="success"
      type="submit"
      class="register-btn"
    >
      Crear cuenta
    </ion-button>

    <!-- VOLVER LOGIN -->
    <ion-button
      expand="full"
      fill="outline"
      color="primary"
      (click)="goToLogin()"
    >
      Ya tengo cuenta
    </ion-button>

  </form>

</ion-content>
